<br>
<%= link_to 'タスク登録', new_task_path %>
　　　　　　　　　　　　　　
<p id="notice"><%= notice %></p>
<font size="5" color="blue">タスク一覧</font>
<br><br>

<%= form_tag(:action=>'search') do %>
  <%= collection_select 'search', 'user', User.all, :id, :username, {selected: @search_user, include_blank: "全員"} %>
  <%= collection_select 'search', 'category', Category.all, :id, :categoryname, {selected: @search_category, include_blank: "全カテゴリー"} %>
  <%= text_field_tag "search[name]", @search_value %>
  <%= submit_tag "検索" %>
  <%= link_to "リセット", tasks_path %>
<% end %>

<table style="background-color: orange">
  <thead>
    <tr>
      <th><font size="4">状態</font></th>
      <th><font size="4">期日</font></th>
      <th><font size="4">タスク名</font></th>
      <th><font size="4">カテゴリー</font></th>
      <th><font size="4">ユーザー</font></th>
      <th colspan="3"></th><br>
    </tr>
  </thead>

  <tbody style="background-color: greenyellow">
    <% @tasks.each do |task| %>
      <tr>
        <td>
        <% if task.done == true %>
          <font color="red">作業中</font>
        <% else %>
          <font color="darkgreen">終了</font>
        <% end %>
        </td>
        <td><%= task.due_date %></td>
        <td><%= task.name %></td>
        <td><%= task.category.categoryname %></td>
        <td><%= task.user.username %></td>
        <td><%= link_to '詳細', task %></td>
        <td><%= link_to '編集', edit_task_path(task) %></td>
        <td><%= link_to '削除', task, method: :delete, data: { confirm: "削除してもよろしいですか?" } %></td>
      </tr>
    <% end %>
  </tbody>
</table>