<p id="notice"><%= notice %></p>

<p>
  <strong>期日:</strong>
  <%= @task.due_date %>
</p>

<p>
  <strong>カテゴリー:</strong>
  <%= @task.category.categoryname %>
</p>

<p>
  <strong>タスク名:</strong>
  <%= @task.name %>
</p>

<p>
  <strong>状態:</strong>
  <% if @task.done == true %>
    <font color="red">作業中</font>
    <% else %>
    <font color="darkgreen">終了</font>
  <% end %>
</p>

<p>
  <strong>ユーザー:</strong>
  <%= @task.user.username %>
</p>

<%= link_to '編集', edit_task_path(@task) %> |
<%= link_to 'タスク一覧', tasks_path %>
